:root {
  --primary-color: #276234;
  --secondary-color: #65d27c;
  --tertiary-color: #3d6845;
  --accent-color: #E85F81;
  --cuertar-color: #981535;
}


.btn.btn-primary {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.login-card::before {
  background: linear-gradient(45deg, var(--cuertar-color), var(--tertiary-color)) !important;
}